Data from: https://datasets.imdbws.com

In [1]:
import pandas as pd
import re

Import datasets

In [2]:
ratings = pd.read_csv("title_ratings.tsv", sep="\t")
titles = pd.read_csv("title_basics.tsv", sep="\t")

D:\Programs\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Combine the data

In [8]:
df = titles.join(ratings.set_index('tconst'), on='tconst')
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,1967.0
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",5.8,263.0
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.5,1803.0
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",5.6,179.0
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.2,2603.0

Get number of types of data

In [4]:
df["titleType"].value_counts()

tvEpisode       7376874
short            921241
movie            640226
video            272536
tvSeries         240799
tvMovie          140846
tvMiniSeries      47853
tvSpecial         40956
videoGame         33816
tvShort           10001
tvPilot               1
Name: titleType, dtype: int64

Drop entries that have no votes, or no average rating

In [9]:
df = df.dropna(subset=['averageRating', 'numVotes'])

In [6]:
df["titleType"].value_counts()

tvEpisode       631392
movie           289368
short           145973
tvSeries         86276
tvMovie          50240
video            49066
tvMiniSeries     14695
videoGame        14435
tvSpecial        11008
tvShort           2138
Name: titleType, dtype: int64

In [11]:
episodes = pd.read_csv("title_episode.tsv", sep = "\t")

In [12]:
episodes

            tconst parentTconst seasonNumber episodeNumber
0        tt0041951    tt0041038            1             9
1        tt0042816    tt0989125            1            17
2        tt0042889    tt0989125           \N            \N
3        tt0043426    tt0040051            3            42
4        tt0043631    tt0989125            2            16
...            ...          ...          ...           ...
7379204  tt9916846    tt1289683            3            18
7379205  tt9916848    tt1289683            3            17
7379206  tt9916850    tt1289683            3            19
7379207  tt9916852    tt1289683            3            20
7379208  tt9916880    tt0985991            4             2

[7379209 rows x 4 columns]

In [10]:
df["titleType"].sort_values

tvEpisode       631394
movie           289368
short           145973
tvSeries         86276
tvMovie          50240
video            49066
tvMiniSeries     14695
videoGame        14435
tvSpecial        11008
tvShort           2138
Name: titleType, dtype: int64

In [16]:
!head -n 1 title_ratings.tsv

'head' is not recognized as an internal or external command,
operable program or batch file.

In [7]:
df[df["titleType"]=="videoGame"]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
82552,tt0084376,videoGame,"MysteryDisc: Murder, Anyone?","MysteryDisc: Murder, Anyone?",0,1982,\N,\N,"Adventure,Crime,Mystery",6.1,37.0
102667,tt0105000,videoGame,Night Trap,Night Trap,0,1992,\N,\N,"Adventure,Horror,Mystery",6.2,376.0
107391,tt0109865,videoGame,Gabriel Knight: Sins of the Fathers,Gabriel Knight: Sins of the Fathers,0,1993,\N,\N,"Adventure,Drama,Horror",9.1,706.0
107783,tt0110267,videoGame,King's Quest VII: The Princeless Bride,King's Quest VII: The Princeless Bride,0,1994,\N,\N,"Adventure,Fantasy",7.6,206.0
108416,tt0110909,videoGame,Psychic Detective,Psychic Detective,0,1995,\N,\N,"Adventure,Fantasy,Mystery",8.5,50.0
...,...,...,...,...,...,...,...,...,...,...,...
9712195,tt9888864,videoGame,Infernal,Infernal,0,2007,\N,\N,Action,6.0,17.0
9713877,tt9892552,videoGame,Spiral Splatter,Spiral Splatter,0,2017,\N,\N,Action,2.0,10.0
9714234,tt9893348,videoGame,Alien: Covenant In Utero VR Experience,Alien: Covenant In Utero VR Experience,0,2017,\N,\N,Sci-Fi,6.2,17.0
9714437,tt9893804,videoGame,The Lego Movie 2 Videogame,The Lego Movie 2 Videogame,0,2019,\N,\N,"Adventure,Animation,Family",5.5,156.0
9722390,tt9910948,videoGame,Pokémon Sword,Poketto monsutâ sôdo,0,2019,\N,\N,"Action,Adventure,Fantasy",7.2,805.0

In [19]:
pd.read_csv('title_principals.tsv',nrows = 2,sep = '\t')

      tconst  ordering     nconst  category job characters
0  tt0000001         1  nm1588970      self  \N   ["Self"]
1  tt0000001         2  nm0005690  director  \N         \N

In [13]:
df[df["primaryTitle"]=="Age of Wonders"]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
8513536,tt7280820,videoGame,Age of Wonders,Age of Wonders,0,1999,\N,\N,Fantasy,7.2,18.0

In [ ]:
temp = titles[titles["titleType"]=="videoGame"]
temp

In [ ]:
titles.join

In [ ]:
ratings = pd.read_csv("title_ratings.tsv", sep="\t")
names = pd.read_csv("name_basics.tsv", sep="\t")

In [14]:
titles = pd.read_csv("title_basics.tsv", sep="\t")

D:\Programs\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [15]:
titles.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [ ]:
titles = titles.join(ratings.set_index('tconst'), on='tconst')

In [ ]:
titles[titles["titleType"]=="movie"]["numVotes"].mean()

In [ ]:
titles[titles["primaryTitle"]=="LEGO Star Wars"]

In [ ]:
with_winnie = titles['primaryTitle'].str.contains('[^a-z]lego[^a-z]|$lego[^a-z]', na=False, flags=re.IGNORECASE, regex=True)
with_movie_type = titles['titleType']=='movie'

titles[with_winnie & with_movie_type]

In [ ]:
temp = titles[titles["primaryTitle"].str.contains('Winnie', na=False, flags=re.IGNORECASE, regex=True)]
temp[temp["titleType"]=="movie"].head(65)

In [ ]:
titles[titles["titleType"]=="tvPilot"]

In [ ]:
titles[titles["primaryTitle"].str.contains('Stranger Things', na=False, flags=re.IGNORECASE, regex=True)]